@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: black;
    color: white;
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Share Tech Mono', monospace;
    min-height: 100vh;
    overflow: hidden;
}

.game-container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #60656F;
    opacity: 0.9;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 1em;
    max-height: 90vh;
}

#game-heading {
    font-size: 2.5em;
}

.score-zone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 0 4em;
}

.play-zone {
    height: 70vh;    
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
        ". num1 ."
        "num2 arrows num3"
        ". num4 .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#num1 {
    grid-area: num1;
}
#num2 {
    grid-area: num2;
}
#num3 {
    grid-area: num3;
}
#num4 {
    grid-area: num4;
}
.rotate {
    transform: rotate(360deg) scale(1.5);
    transition: transform 300ms ease-in-out;
}

#arrows {
    grid-area: arrows;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
        ". up ."
        "left . right"
        ". down .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#up {
    grid-area: up;
}
#down {
    grid-area: down;
}
#left {
    grid-area: left;
}
#right {
    grid-area: right;
}

.number {
    background-color: #279AF1;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px #279AF1;
    /* cursor: pointer; */
}


.timer-zone {
    width: 80%;
    background-color: white;
    height: 15px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid green;
}

.timer {
    width: 100%;
    height: 100%;
    background-color: green;
    /* animation-name: timer;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; */
}

@keyframes timer {
    from{
        width: 100%
    }
    to{
        width: 0%;
    }
}

#arrows button {
    background: none;
    border: none;
    font-size: 200%;
}

.button-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.button-zone button {
    width: 140px;
    height: 50px;
    margin: 0 1em;
    border-radius: 15px;
    background-color: #F7F7FF;
    font-size: 120%;
    outline: none;
    border: 3px solid #279AF1;
}
.modal-content {
    
    width: 600px;
    height: 400px;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* animation-name: modal-appear; */
    
}

#rules-modal {
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(15px);
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    opacity: 0;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#endgame-modal {
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(15px);
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    opacity: 0;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes modal-appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes modal-disappear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}